<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="BasicHttpBinding_ITarjetas" />
                <binding name="BasicHttpBinding_IPagos" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50087/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ClientesReference.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="http://localhost:50087/Tarjetas.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITarjetas" contract="TarjetasReference.ITarjetas"
                name="BasicHttpBinding_ITarjetas" />
            <endpoint address="http://localhost:50087/Pagos.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPagos" contract="PagosReference1.IPagos"
                name="BasicHttpBinding_IPagos" />
        </client>
    </system.serviceModel>
</configuration>